body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  margin: 0;
  padding: 20px;
  text-align: center;
}

.heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.form-container {
  background-color: #2c2c2c;
  color: white;
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-title {
  background-color: #f5f5f5;
  color: red;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid red;
  background: transparent;
  color: rgb(194, 141, 141);
}

::placeholder {
  color: lightgray;
}

.label {
  text-align: left;
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.gender-group {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.gender-group label {
  font-size: 14px;
}

.btn {
  background-color: red;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: darkred;
}

.contact-info {
  background-color: #f5f5f5;
  color: red;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
}
